{% if page.katex %}

<!-- cc CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"/>

<!-- JavaScript -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body,{
    delimiters: [
      { left: '$$',  right: '$$',  display: true  },
      { left: '$',   right: '$',   display: false },
      { left: '\\[', right: '\\]', display: true  },
      { left: '\\(', right: '\\)', display: false }
  ]});">
</script>
{% endif %}

<!-- Not required after all. Due to a github problem, original deployment failed and I thought
this had to be incorporated to get description visible in html. Once rerunning deployments next day, 
meta description shoew up twice. Thus removing this.
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}-->