<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	
	<script>
		const local = (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1");
		prefix = "/"
		if (local) { prefix = "/blog/"; }
	</script>
	
	  <!-- Google tag (gtag.js) -->
	  <!-- Not for local -->
	  <p id="gtag"></p>
	  <script>
	  var node; node=document.getElementById("gtag");
	  if (window.location.hostname != "localhost" || window.location.hostname != "127.0.0.1") { // If not local, gather stats
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJRBB9VLFL"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
	
		  gtag('config', 'G-QJRBB9VLFL');
		</script>
	  }
	  </script>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<style>
		
		#form_search input[type="text"] {
			background-color: #555;
			color: #000;
		    border: 1px solid #444;
		    padding: 5px;
			height: 26px;
			line-height: 26px;
			padding: 0; 
		}

		
		#form_search button {
		    background-color: #222;
		    color: #fff;
		    border: 1px solid #444;
		    padding: 5px 10px;
		    cursor: pointer;
			font-size: 13px;
		}
		
		#form_search button:hover {
		    background-color: #444;
		}



	</style>
	


	
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
		  
		  <p id="link2blog"></p>
		  <script>
			  var node; node=document.getElementById("link2blog");
			  node.innerHTML = '<a href="'+prefix+'">Blog home</a>';
			  node.style.visibility='visible'
		  </script>

          <hr>
          <span class="credits left">Project maintained by <a href="https://mas.to/@veikkonyfors">veikkonyfors</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
          <br>
          <p id="disclaimer"></p>
          <script>
			var node; node=document.getElementById("disclaimer");
	        node.innerHTML = '<span class="credits left"><a href="'+prefix+'/../1977/07/22/disclaimer">Disclaimer</a></span>';
	        node.style.visibility='visible'
		  </script>
		  <span class="credits right">
			<form id="form_search" action="https://www.google.com/search" method="GET">
			    <input type="text" name="q" placeholder="Search..." />
			    <input type="hidden" name="cx" value="b0d93fea84a2a4bf8">
			    <button type="submit">⌕</button>
			</form>			
		  </span>
		  <br>
		  
          <hr> 
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
